:root {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.main {
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.forecast {
  width: 80vw;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.card {
}
.span-end {
  grid-column: 1 / -1;
}
